body {
    margin: 0;
    background-color: white;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: center;
}
.title {
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 200px;
}
.grey {
    background-color: grey;
    grid-column: 2/3;
    grid-row: 1/3;
}
img {
    grid-row: 1/3;
    grid-column: 1/2;
}
.subtitle {
    grid-column: 2/3;
    grid-row: 2/3;
    color: darkred;
    font-size: 75px;
    letter-spacing: 15px;
}